# Ignore rmd dynamic list table and root SDK folder
rmd-dynamic-list-table/
/sdk/
z-new-version
*node_modules

# Ignore specific markdown guide files (if they are generated or not to be tracked)
dynamicguide.md
sdkGuide.md
modalForms.html

# Common ignores
node_modules/
dist/
.env
.DS_Store

# Keep React source SDK files tracked
!ptpm_react_app/src/features/job-direct/sdk/
!ptpm_react_app/src/features/job-direct/sdk/*.js
