.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent; /* Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 9999px;
}
