/* input {
  font-size: 0.875rem !important;
  border: none !important;
}

input[type="checkbox"] {
  opacity: 1 !important;
  position: relative !important;
  appearance: auto !important;
  -webkit-appearance: checkbox !important;
  display: inline-block !important;
  pointer-events: all !important;
}

button:focus {
  background: transparent !important;
}

input:focus {
  outline: none !important;
  border: none;
} */
