:root {
  /*Color Variables*/
  --primary-color: [Visitor//Owner//primaryColor];
  --secondary-color: [Visitor//Owner//secondaryColor];
  --accent-color: [Visitor//Owner//accentColor];
  --complementary-color: [Visitor//Owner//complementaryColor];
  --dark-color: [Visitor//Owner//darkColor];
  --light-color: [Visitor//Owner//lightColor];
  --white-color: [Visitor//Owner//whiteColor];
  --line-color: [Visitor//Owner//lineColor];
  --danger-color: [Visitor//Owner//dangerColor];
  --warning-color: [Visitor//Owner//warningColor];
  --cool-color: [Visitor//Owner//coolColor];
  --success-color: [Visitor//Owner//successColor];

  /*Fonts*/
  --font-family: [Visitor//Owner//font-family];
  --headline-fs: [Visitor//Owner//headline-fs];
  --headline-lh: [Visitor//Owner//headline-lh];
  --headline-fw: [Visitor//Owner//headline-fw];
  --subheadline-fs: [Visitor//Owner//subheadline-fs];
  --subheadline-lh: [Visitor//Owner//subheadline-lh];
  --subheadline-fw: [Visitor//Owner//subheadline-fw];
  --subheadline2-fs: [Visitor//Owner//subheadline2-fs];
  --subheadline2-lh: [Visitor//Owner//subheadline2-lh];
  --subheadline2-fw: [Visitor//Owner//subheadline2-fw];
  --label-fs: [Visitor//Owner//label-fs];
  --label-lh: [Visitor//Owner//label-lh];
  --label-fw: [Visitor//Owner//label-fw];
  --button-fs: [Visitor//Owner//button-fs];
  --button-lh: [Visitor//Owner//button-lh];
  --button-fw: [Visitor//Owner//button-fw];
  --bodytext-fs: [Visitor//Owner//bodytext-fs];
  --bodytext-lh: [Visitor//Owner//bodytext-lh];
  --bodytext-fw: [Visitor//Owner//bodytext-fw];
  --largebodytext-fs: [Visitor//Owner//largebodytext-fs];
  --largebodytext-lh: [Visitor//Owner//largebodytext-lh];
  --largebodytext-fw: [Visitor//Owner//largebodytext-fw];
  --blockquote-fs: [Visitor//Owner//blockquote-fs];
  --blockquote-lh: [Visitor//Owner//blockquote-lh];
  --blockquote-fw: [Visitor//Owner//blockquote-fw];

  /*Font Family*/
  --font-family: [Visitor//Owner//font-family];
}

/*Font size, line-height and font-weight*/

body {
  font-family: "Inter", serif !important;
}
.w-800 {
  width: 800px !important;
}
.min-w-max {
  min-width: max-content;
}
.display-none {
  display: none;
}

/*Width Utility*/
.w-min {
  width: min-content;
}

/* Layouts */
.whitespace-nowrap {
  white-space: nowrap;
}

.tabItem {
  position: relative;
}

.tabItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

.tabItem:hover::after {
  width: 100%;
}

.activeJobsTab::after {
  width: 100%;
}

.activeInquiriesTab::after {
  width: 100%;
}

@media (min-width: 1100px) {
  .xlgFlex {
    display: flex !important;
  }
}
.defaultTab {
  color: var(--dark-color);
}
.selectedTab {
  background: #003882;
  color: white;
}

html {
  scrollbar-width: none !important;
}

.asideNavLeftBorder {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f6f6f6;
  top: 0;
  right: 0;
  height: 100vh;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

@media (max-width: 600px) {
  [data-block-viewport-display="desktop"] {
    display: block !important;
  }
}

/*Button style*/
.outlineButton {
  border: 1px solid var(--primary-color);
  color: var(--primary);
  border: 1px solid var(--primary-color);
}
.outlineButton:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.buttonSvg path {
  fill: var(--primary-color);
}
.outlineButton:hover .buttonSvg path {
  fill: var(--white-color);
}

a {
  text-decoration: none !important;
}
.pl-64px {
  margin-left: 18rem !important;
}

.pl-20px {
  margin-left: 5rem !important;
}

@media (max-width: 1100px) {
  .pl-64px {
    margin-left: 0 !important;
  }

  .pl-20px {
    margin-left: 0 !important;
  }
}
@media (min-width: 1100px) {
  .xlgBlock {
    display: block !important;
  }
}

.secondary-overlay.secondary-active-overlay {
  position: fixed;
  inset: 0;
  background: rgba(4, 31, 83, 0.3);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100vh;
  z-index: 9;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 999999999999 !important;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.loader-message p {
  margin: 5px 0;
  color: #333;
  font-size: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.fade-out {
  opacity: 0;
  visibility: hidden;
}

.block {
  display: block;
}

.tab {
  padding: 0 24px 8px 24px;
  border-bottom: 2px solid transparent;
  min-width: max-content;
  &:hover {
    color: #003882;
    cursor: pointer;
  }
}

.activeTab {
  color: #003882;
  border-bottom: 2px solid #003882;
}

.button-primary {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #003882;
  background: #003882;
  color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
  &:hover {
    border: 1px solid #0052cc;
    background: #0052cc;
  }
  &:active {
    border: 1px solid #0052cc;
    background: #0052cc;
  }
  &:focus {
    border: 1px solid #0052cc;
    background: #0052cc;
  }
}

.button-plain {
  padding: 12px 16px;
  color: #003882;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
  &:hover {
    color: #0052cc;
  }
  &:active {
    color: #0052cc;
  }
  &:focus {
    color: #0052cc;
  }
}

.button-outline {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #003882;
  background: white;
  color: #003882;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
  &:hover {
    border: 1px solid #0052cc;
    background: #0052cc;
    color: white;
  }
  &:active {
    border: 1px solid #0052cc;
    background: #0052cc;
    color: white;
  }
  &:focus {
    border: 1px solid #0052cc;
    background: #0052cc;
    color: white;
  }
}

.button-red {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #d80f0f;
  background: #d80f0f;
  color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Inter", serif;
  &:hover {
    border: 1px solid #770808;
    background: #770808;
  }
  &:active {
    border: 1px solid #770808;
    background: #770808;
  }
  &:focus {
    border: 1px solid #770808;
    background: #770808;
  }
}

input {
  margin: 0 !important;
  height: unset !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #d3d7e2 !important;
  border-radius: 4px !important;
  padding: 12px 12px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  background-color: white !important;
  font-size: 16px !important;
  &:hover {
    border: 1px solid #0052cc !important;
  }
  &:active {
    border: 1px solid #0052cc !important;
  }
  &:focus {
    border: 1px solid #0052cc !important;
  }
}

textarea {
  margin: 0 !important;
  height: unset !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #d3d7e2 !important;
  outline: none !important;
  border-radius: 4px !important;
  padding: 12px 12px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  background-color: white !important;
  &:hover {
    border: 1px solid #0052cc !important;
  }
  &:active {
    border: 1px solid #0052cc !important;
  }
  &:focus {
    border: 1px solid #0052cc !important;
  }
}

select {
  width: 100% !important;
  height: unset !important;
  border: 1px solid #d3d7e2 !important;
  border-radius: 4px !important;
  padding: 12px 12px !important;
  background-color: white !important;
  font-size: 16px !important;
  &:hover {
    border: 1px solid #0052cc !important;
  }
  &:active {
    border: 1px solid #0052cc !important;
  }
  &:focus {
    border: 1px solid #0052cc !important;
  }
}

body {
  font-family: Arial, sans-serif;
}

.hidden {
  display: none;
}

.notification-bell {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  margin-left: auto;
  background: transparent !important;
}

/* Red notification dot */
.notification-bell.unread::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.announcement-section {
  max-height: 400px;
  overflow-y: scroll;
}

#announcements-modal {
  width: 95%;
  max-width: 450px;
  position: fixed;
  top: 40px;
  right: 6rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 1000;
}

#announcements-modal h3 {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.unread {
  background: #dee7f6;
}
.read {
  background: transparent;
}

@media (max-width: 700px) {
  #announcements-modal {
    right: 1rem;
  }
}
@media (max-width: 1100px) {
  input,
  textarea,
  select {
    background: transparent !important;
  }
  .tab {
    padding: 0 16px 8px 16px;
  }
}
